html {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  background-color: #AAFFEE;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: blueviolet;
}



canvas
{
  background-color: grey;
  border: 10px solid brown;
}
